{% extends "layout.html" %}
{% block content %}
	{% for boxer in boxers %}
			{% if boxer.lname == name %}
			<img src="/static/{{boxer.lname}}.jpg">
				<p>Last name: {{boxer.lname}}
				<br>First name: {{boxer.fname}}
				<br>Alias: {{boxer.alias}}
				<br>Nationality: {{boxer.Nationality}}
				<br>Position in own country: {{boxer.Pos_in_c}}
				<br>Position in world: {{boxer.Pos_in_w}}
				<br>BoxRec Rating: {{boxer.rating}}
				<br>Reach: {{boxer.reach}}
				<br>Stance: {{boxer.stance}}
				<br>Age: {{boxer.age}}
				<br>Height: {{boxer.height}}
				<br>Wins/Losses/Draws: {{boxer.wins}}/{{boxer.loses}}/{{boxer.draws}}
				<br>Percentage Knock-outs: {{boxer.kos}}</p>
				<a href="/{{boxer.lname}}/info">Futher info and opponents></a>
		{% endif %}
	{% endfor %}
{% endblock %}
