{% extends "layout.html" %}
{% block content %}
<style>
body{
  color:#E8E8E8;
  font-size: 16px;
}
a:link{
  font-size: 20px;
  color:white;
}
a:visited{
  color:#909090;
}
a:hover{
  color:#C0C0C0;
}
</style>
	<h2>Dominic Breazeale</h2>
	<img src="/static/media/breazeale_i.jpg" class="img_responsive" width="500" height="350">
<p>
Dominic Breazeale is an American professional boxer. As an amateur he fought in the super heavyweight division and completed the London 2012 Olympics. In 2016,
Breazeale challenged the current world champion <a href="/Joshua">Athony Joshua</a> for the IBF (International Boxing Federation) Heavyweight title in London and lost. Breazeale is currently ranked 7th besy heavyweight in the world by 'The Ring' magazine, and 8th by 'BoxRec.'
</p>
<button onclick="location.href='/Breazeale/info/fights'" class="btn" type="button">Recent Fights</button>
{% endblock %}
