{% extends "layout.html" %}
{% block content %}
<style>
body{
  color:#E8E8E8;
  font-size: 16px;
}
a:link{
  color:black;
}
a:visited{
  color:#909090;
}
a:hover{
  color:#C0C0C0;
}
</style>
	<h2>Johann Duhaupas</h2>
	<img src="/static/media/duhaupas_i.jpg" class="img_responsive" width="550" height="350">
<p>
Johann Duhaupas is a French professional boxer and world heavyweight title challenger. He is the current WBC(World Boxing Council) Silver heavyweight champion and a former European Union heavyweight champion. Duhaupas is a pressure fighter in style, known for his stiff jab and iron chin. He holds notable victories over Robert Helenius and the current WBA(World Boxing Association) (Regular) heavyweight champion Manuel Charr.
</p>
<button onclick="location.href='/Duhaupas/info/fights'" class="btn" type="button">Recent Fights</button>
{% endblock %}
