{% extends "boxer_layout.html" %}
{% block content %}
	<p2>
		Anthony Oluwafemi Olaseni Joshua, OBE is a unified heavyweight world champion. He holds three out of the four major world championships in the sport:<ul> 
	IBF(International Boxing Federation) since 2016
	WBA(World Boxing Association)(Super) since 2017
	WBO(World Boxing Organization) since 2018	
	</ul>
	He has also held the IBO (Interational Boxing Organization) title since 2017, and at regional level he held the British and Commonwealth heavyweight titles from 2014 to 2016.

Joshua represented England at the 2011 World Championships as an amateur in the superheavyweight division, winning a silver medal. He also represented Great Britain at the 2012 Olympics, winning gold. 

In 2014, a year after going professional, he was named 'Prospect of the Year by 'The Ring' magazine. In 2017, Joshua's victorious fight against <a href={{'/Klitschko'}}>Wladimir Klitschko</a> was named 'Fight of the Year' by 'The Ring' and the 'Boxing Writers Association of America.'
	</p2>
{% endblock %}	
