{% extends "layout.html" %}
{% block content%}
<style>
body{
  color:#E8E8E8;
  font-size: 16px;
}
a:link{
  color:black;
}
a:visited{
  color:#909090;
}
a:hover{
  color:#C0C0C0;
}
</style>
	<h2>Wladimir Klitschko</h2>
	<img src="/static/media/klitschko_i.jpg" class="img_responsive" width="400" height="450">
<p>
Wladimir Wladimirowitsch Klitschko is a Ukrainian former professional boxer who competed from 1996 to 2017.
</p>
<p>
He held the world heavyweight championship twice, including the WBA(World Boxing Association)(Super), IBF (International Boxing Federation), WBO (World Boxing Association), IBO (International Boxing Organization), 'The Ring' magazine and 'lineal' titles.
</p>
<p>
A strategic and intelligent boxerm Klitschko is considered to be one of the best heavyweight champions of all time. He was known for his exceptional knockout power, using a strong jab, straight right hand and left hook, as well as excellent footwork and mobility, unusual for boxers of his size.
</p>
<p>
From 2006 to 2015, Wladimir and his older brother Vitali (also a former world heavyweight champion) dominated heavyweight boxing, a period typically known as the 'Klitschko Era' of the division.
</p>
<a href="/Klitschko/info/fights">Recent Fights</a>
{% endblock %}
