{% extends "layout.html" %}
{% block content %}
<style> .list-group-item {
background-color: transparent;
border-top: 1px solid #000;
color: #F5F5F5!important;
border-radius: 0;
font-size: 16px;
}
</style>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >Organise by (highest to lowest):</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/byko">Knockouts %</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Nationality
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/British">British</a></li>
          <li><a href="/American">American</a></li>
          <li><a href="/French">French</a></li>
        </ul>
      </li>
      <li><a href="/height">Height</a></li>
      <li><a href="/age">Age</a></li>
			<li><a href="/reach">Reach</a></li>
			<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Stance
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Orthodox">Orthodox</a></li>
          <li><a href="/Southpaw">Southpaw</a></li>
        </ul>
    </ul>
  </div>
</nav>
		{% for boxer in boxers %}
			<li><a href="{{boxer.lname}}" class ="list-group-item">{{boxer.fname}} {{boxer.lname}} ---  "{{boxer.alias}}"</a></li>
		{%endfor%}
{% endblock %}
