{% extends "layout.html" %}
{% block content %}
	<h2>Charles Martin</h2>
	<img src="/static/martin.jpg">
<p>
Charles Lee Martin is an American professional boxer who held the IBF (International Boxing Federation) heavyweight title from January to April 2016. His 85-day reign as champion is the second-shortest in heavyweight boxing history, after Tony Tucker's 64 days in 1987 (also as IBF champion). During Martin's short reign as IBF champion, he reached a peak active heavyweight ranking of 9th by the Transnational Boxing Rankings Board.
</p>

{% endblock %}
