{% extends "layout.html" %}
{% block content %}
<style>
body{
  color:#E8E8E8;
  font-size: 16px;
}
a:link{
  color:black;
}
a:visited{
  color:#909090;
}
a:hover{
  color:#C0C0C0;
}
</style>
	<h2>Jarrell Miller</h2>
	<img src="/static/media/miller_i.jpg" class="img_responsive" width="500" height="350">
<p>
Jarrell King Miller is an American professional boxer
and former kickboxer who competes in the Heavyweight division. He first came
to prominence in 2007 when he competed for the New Jersey Tigers in the World
Combat League and made it to the finals of the New York Golden Gloves
tournament that same year. Miller is currently ranked the world's 4th
best active heavyweight by Boxrec, and 8th by 'The Ring' magazine.
</p>
<a href="/Miller/info/fights">Recent Fights</a>
{% endblock %}
