{% extends "layout.html" %}
{% block content %}
<style>
body{
  color:#E8E8E8;
  font-size: 16px;
}
a:link{
  color:black;
}
a:visited{
  color:#909090;
}
a:hover{
  color:#C0C0C0;
}
</style>
	<h2>Eric Molina</h2>
	<img src="/static/media/molina_i.jpg" class="img_responsive" width="525" height="350">
<p>
Eric Lee Molina is an American professional boxer who has challenged twice for a world heavyweight championship: the WBC (World Boxing Council) title in 2015 and the IBF (International Boxing Federation) title in 2016.
</p>
<p>
Molina turned professional on March 17, 2007; losing his first professional bout by knockout. Despite losing his first pro bout, Molina went on an 18-fight unbeaten streak. On January 18, 2012 he stepped up and fought former two-time world heavyweight title challenger Chris Arreola. Despite losing the fight by first-round knockout, Molina did manage to hurt Arreola. Two and a half years later in May 2014, Molina scored his biggest professional career win by stopping former world heavyweight title challenger DaVarryl Williamson in five rounds.
</p>
<p>
On June 13, 2015 he fought for the WBC world heavyweight title against defending champion <a href="/Wilder">Deontay Wilder.</a> Molina hurt the champion during the early rounds, but was knocked out in the ninth round. Molina scored the biggest win of his entire professional career in April 2016 by stopping former two-weight division world champion Tomasz Adamek in the tenth round. Later that year, on December 10, he challenged for the IBF heavyweight title against champion <a href="/Joshua">Anthony Joshua</a> in Manchester, England. Molina lost by third-round knockout.</p>
<p>
Molina is currently undergoing a two year suspension for failing a performance enhancing drug test after his loss to <a href="/Joshua">Anthony Joshua.</a>
</p>
<button onclick="location.href='/Molina/info/fights'" class="btn" type="button">Recent Fights</button>
{% endblock %}
