{% extends "layout.html" %}
{% block content %}
<style>
body{
  color:#990000!important;
  font-size: 20px;
}
a:link{
  color:#6D071A;
}
a:visited{
  color:#6D071A;
}
a:hover{
  color:#C0C0C0;
}
</style>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Opponent</th>
        <th>Last 6 Rounds</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      {% for op in opponents %}
    <tr>
        <td>{{op.date}}</td>
        <td><a href="/{{op.opponent}}">{{op.opponent}}</a></td>
        <td>{{op.last_6}}</td>
        <td>{{op.result}}</td>
    </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
