{% extends "layout.html" %}
{% block content %}
<style>
body{
  color:#E8E8E8;
  font-size: 16px;
}
a:link{
  color:black;
}
a:visited{
  color:#909090;
}
a:hover{
  color:#C0C0C0;
}
</style>
	<h2>Louis Ortiz</h2>
	<img src="/static/media/Ortiz.gif" class="img_responsive" width="500" height="350">
<p>
Luis Ortiz is a Cuban professional boxer.
He held the WBA interim heavyweight title from 2015 to 2016, and has
challenged once for the WBC(World Boxing Council) heavyweight title in 2018. As an amateur,
he won a silver medal at the 2005 Boxing World Cup. Nicknamed "King Kong",
Ortiz is known for his formidable punching power and counterpunching skills.
</p>
<a href="/Ortiz/info/fights">Recent Fights</a>
{% endblock %}
