{% extends "layout.html"%}
{% block content %}
<style>
body{
  color:#E8E8E8;
  font-size: 16px;
}
a:link{
  color:black;
}
a:visited{
  color:#909090;
}
a:hover{
  color:#C0C0C0;
}
</style>
	<h2>Joseph Parker</h2>
	<img src="/static/media/parker.gif"  width="550" height="400">
<p>Josheph Parker, OM is a professional boxer from New Zealand. He held the WBO (World Boxing Organisation) title from 2016 to 2018, and previously multiple regional heavyweight championships inclusing the WBO(World Boxing Organization) Oriental, Africam and Oceania titles; as well as the PABA (Pan Asian Boxing Association), OPBF(The Oriental and Pacific Boxing Federation), and New Zealand titles.
</p>
<p>
As an amateur he represented New Zealand at the 2010 Commonwealth Games in the super-heavyweight division, and narrowly missed qualification for the 2012 Olympics.
</p>
<p>
Parker turned professional in July 2012 with Ducp Events in Auckland, under the tutelage of 'Sir Bob Jones.' After defeating Andy Ruiz for the WBO title, Parker became the first heavyweight boxer from either New Zealand or the Pacific Islands to win a major world championship.
</p>
<p>
As of 2018 he is ranked as the worlds 8th best active heavyweight by the 'Transitional Boxing Rankings Board(TBRB), 4th by 'The Ring' magazine and 10th by 'BoxRec.' During his reign as WBO champion, he reached a peak active heavyweight ranking of 3rd by the TBRB.
</p>
<a href="/Parker/info/fights">Recent Fights</a>
{% endblock %}
