{% extends "layout.html"%}
{% block content %}
	<h2>Alexander Povetkin</h2>
	<img src="/static/povetkin.jpg"> 

	<p>Alexander Vladimirovich "Sasha" Povetkin (Russian: Алекса́ндр Влади́мирович Пове́ткин) is a Russian professional boxer who held the WBA(World Boxing Association) (Regular) heavyweight title from 2011 to 2013. As an amateur he won a gold medal in the super-heavyweight division at the 2004 Olympics, gold at the 2003 World Championships, and consecutive gold at the 2002 and 2004 European Championships.</p>
<p>
From April up until the end of June 2018, both camps of <a href="/Joshua">Anthony Joshua</a> and <a href="/Wilder">Deontay Wilder</a> were in deep talks around the super fight to finally take place. The main hurdles were split, date and venue. At one point <a href="/Wilder">Wilder</a> had agreed to fight <a href="/Joshua">Joshua</a> in the UK, however there was slight confusions in the contracts that were being sent back and forth. At the same time, Joshua's manager, Hearn,  was also working a deal out for <a href ="/Joshua">Joshua</a> to fight WBA mandatory challenger Povetkin. The WBA initially ordered the fight after Povetkin knocked out David Price on the Joshua-Parker undercard. Negotiations took a turn on 26 June when the WBA gave Joshua's camp 24 hours to finalise a deal with Povetkin.
</p>
<p>
On 16 July, <a href="/Joshua">Joshua</a> vs. Povetkin for the WBA, IBF, WBO and IBO heavyweight titles was officially announced for 22 September. Many British pundits and trainers spoke around how <a href="/Joshua">Joshua</a> should not underestimate Povetkin and how he would pose a big threat to <a href="/Joshua">Joshua.</a>
<br>
The results- <a href="/Joshua">Joshua</a> won with a 7th-round stoppage after knocking Povetkin down twice.
<p/>
{% endblock%}
