{% extends "layout.html" %}
{% block content %}
<style>
body{
  color:#E8E8E8;
  font-size: 16px;
}
a:link{
  color:black;
}
a:visited{
  color:#909090;
}
a:hover{
  color:#C0C0C0;
}
</style>
	<h2>Carlos Takam</h2>

	<p>
	Armand Carlos Netsing Takam, best known as Carlos Takam, is a Cameroonian-French professional boxer. He is a former WBC (World Boxing Council) silver heavyweight champion.</p>
<p> As an amateur he represented Cameroon in the super heavyweight division at the 2004 Olympics.</p>
<p> Takam has fought many well known heavyweight champions. In October 2017, Takam was made a laste replacement to fight <a href="/Joshua">Anthony Joshua</a> at Principality Stadium in Cardiff. <a href="/Joshua">Joshua</a>'s opponent Kubrat Pulev pulled out of their fight with a shoulder injury. Much of boxing's audience were of the opinion that Takam would go down in the first few rounds, especially because he only had 12 days notice,  but he gave a brave performance and took <a href="/Joshua">Joshua</a> to round 10 before the referee stepped in and waved the fight off after <a href="/Joshua">Joshua</a> landed a flurry of punches. It was seen by the majority as a premature stoppage and attracted a lot of criticism from the boxing public, in favour of Takam.</p>
<img src="/static/media/takamvj.gif">
<p>Gif: Joshua v Takam</p>
<a href="/Takam/info/fights">Recent Fights</a>
{% endblock %}
