{% extends "layout.html" %}
{% block content %}
<style>
body{
  color:#E8E8E8;
  font-size: 16px;
}
a:link{
  color:black;
}
a:visited{
  color:#909090;
}
a:hover{
  color:#C0C0C0;
}
</style>
	<h2>Dylian Whyte</h2>
	<img src="/static/media/whyte.gif" class="img_responsive" width="450" height="350">
<p>
Dillian Whyte is a British professional boxer. He has held the WBC (World Boxing Council) Silver heavyweight title since 2017, and previously the British heavyweight title from 2016 to 2017. Whyte is also a former kickboxing champion, having held the BIKMA British super-heavyweight title and the European K1 title, and has competed professionally in mixed martial arts.
</p>
<p>
As of September 2018, Whyte is ranked as the world's third best active heavyweight by the Transnational Boxing Rankings Board, and fifth by 'The Ring' magazine and 'BoxRec'.
</p>
<button onclick="location.href='/Whyte/info/fights'" class="btn" type="button">Recent Fights</button>
{% endblock %}
