{% extends "boxer_layout.html" %}
{% block content %}
	<h2>Deontay Wilder</h2>
	<img src="/static/Wilder.gif">
	<br><p>
	Deontay Leshun Wilder is an American professional heavyweight boxer. He has held the WBC (World Boxing Council) heavyweight title since 2013, and in doing so became the first American heavyweight champion in nine years. This was the longest period of time in boxing history without an American heavyweight champion. </p>
<p>As an amateur he won a bronze medal in the heavyweight division at the 2008 Olympics. This led to his nickname/alias of "The Bronze Bomber."</p>
<p>Wilder is particularly well known for his formidable punching power, having finished all but one of his fights inside the distance. His knockout ratio stands at 98%, with 19 knockouts in the first rounds. He is a two-time winner of the Premier Boxing Championships 'Knockout of the Year award', in 2016 and 2017.</p>
<p>As of March 2018, Wilder is ranked as the worlds second best active heavyweight by 'Transnational Boxing Rankings Board', 'The Ring' magazine, and 'BoxRec,' standing behind <a href="/Joshua">Joshua</a>  at number one. A fight between to two has been a talking point in the boxing world for months now, with speculation about which one of them keeps pulling out of the fight through fear of losing, both as undefeated boxers.</p> 
{% endblock %}
